 /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {
    #portfolio{
        padding-right: 30px;
    }
    .home_content {
        margin-top: 15%;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
    #portfolio{
        padding-right: 30px;
    }
    .services{
        padding: 50px 0px 50px 0px;
    }
}

/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199px) {
    .about_img {
        display: block;
        margin: auto;
    }
    .about_content h5{
        text-align: center;
    }
    .r_s {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #portfolio{
        padding-right: 30px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .about_img {
        display: block;
        margin: auto;
    }
    .about_content h5{
        text-align: center;
    }
    .about_img {
        display: block;
        margin: auto;
    }
    .about_content h5{
        text-align: center;
    }
    .r_s {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .filter-item li{
        width: 100%;
    }
    .filter-item li.active{
        width: 100%;
    }
    .filter-menu li {
        margin-bottom: 10px;
    }
    .home_content {
        margin-top: 20%;
    }
    .services{
        padding: 50px 0px 50px 0px;
    }
    #portfolio{
        padding-right: 30px;
    }
    .btn_btn_primary{
        left: 93%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .about_img {
        display: block;
        margin: auto;
    }
    .about_content h5{
        text-align: center;
    }
    .about_content h5{
        text-align: center;
    }
    .r_s {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .filter-item li{
        width: 100%;
    }
    .filter-item li.active{
        width: 100%;
    }
    .services{
        padding: 50px 0px 50px 0px;
    }
    .filter-menu li {
        margin-bottom: 10px;
    }
    .home_content {
        margin-top: 30%;
    }
    #portfolio{
        padding-right: 30px;
    }
    .btn_btn_primary{
        left: 91%;
    }
}

/* small screen 320  */
 @media (min-width: 320px) and (max-width: 575px) {
    .home {
        width: 176% !important;
    }
    .about{
        width: 170% !important;
    }
    .services{
        width: 176% !important;
    }
    .hire-me{
        width: 176% !important;
    }
    .client{
        width: 176% !important;
    }
    #portfolio{
        width: 176% !important;
    }
    .Contact_main{
        width: 176% !important;
    }
    .footer_main{
        width: 176% !important;
    }
    .about_content p {
        padding-left: 15px;
    }
    .about_img {
        display: block;
        margin: auto;
    }
    .about_content h5{
        text-align: center;
    }
    .r_s {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .filter-item li{
        width: 100%;
    }
    .filter-item li.active{
        width: 100%;
    }
    .about_img {
        margin-left: auto !important;
    }
    .services_text p{
        text-align: center;
        width: 100% !important;
    }
    .services_contents{
        width: 100% !important;
    }
    .about_icon {
        margin-left: 10px;
    }
    .services{
        padding: 50px 0px 50px 0px;
    }
    #portfolio{
        padding-right: 30px;
    }
    .filter-menu li {
        margin-bottom: 10px;
    }
    .home_content {
        margin-top: 30%;
    }
    .btn_btn_primary{
        left: 90%;
    }
    #particles-js{
        position: absolute;
        width: 160% !important;
        height: 100vh !important;
    }
 }